@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&display=swap');
$gray: #303633;
$lightGray: #f2f2f2;
$green:#8bebcd;
$pink: #9c7a97;
$headings: 'Source Sans Pro', sans-serif;
$text: 'Lato', sans-serif;
$transition: .3s ease;
$font: 16px;
$white: #fff;
/*******************************************
MIXINS
*******************************************/
@mixin btn {
    border: 3px solid $green;
    font-weight: 700;
    padding: 10px 40px;
    font-size: 1rem;
    border-radius: 8px;
    background: transparent;
    color: $green;
    cursor: pointer;
    margin-top: 30px;
    &:hover{
        border:3px solid $pink;
        color: $pink;
        transition: $transition;
    }
}
@mixin line{
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background: lightgray;
    margin: 35px 0;
}
/*******************************************
BASIC
*******************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $text;
    font-size: $font;
    color: $gray;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
}
h1,h2,h3,h4,h5,h6{
    font-family: $headings;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
    &::after{
        display: block;
        content: "";
        height: 2px;
        width: 100px;
        background: $pink;
        margin: 20px 0;
    }
}
ul{
    list-style-type: none;
}
/*******************************************
ASIDE
*******************************************/
aside{
    flex: 1;
    background-image: linear-gradient(rgba($gray, .8),rgba($pink,.8)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 60px;
    img{
        width: 50%;
        border-radius: 50%;
        border: 5px solid $pink;
        background-position: center;
    }
    h1{
        font-weight: 300;
        color: $white;
        padding: 30px 0;
        span{
            color: $green;
            font-weight: 700;
            font-style: italic;
            letter-spacing: 2px;
        }
    }
    a {
        color: $green;
        margin-left: 20px;
        font-size: 2rem;
        &:hover{
            color: $white;
            transition: $transition;
        }
    }
   
}
/*******************************************
MAIN
*******************************************/
.main{
    flex: 2;
    overflow: scroll;
    height: 100vh;
    padding: 40px;
    .about{

        button{
            @include btn();
        }
        &::after{
            @include line();
        }
    }
    .portfolio{
        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 40px;
            .col{
                flex: 0 0 48%;
                img{
                    width: 100%;
                    &:hover{
                        opacity: .8;
                        transition: $transition;
                        transform: scale(1.1);
                    }
                }
                h4{
                    font-size: 1.7rem;
                    color: $pink;
                    padding: 20px 0;
                }
                p{
                    padding-bottom: 30px;
                }
            }
        }
        button{
            @include btn();
        }
        &::after{
            @include line();
        }
    }
    footer{
        padding-bottom: 50px;
        .row{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            form{

                flex: 0 0 68%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                input{
                    flex: 0 0 48%;
                    padding: 10px;
                    background: $lightGray;
                    border: none;
                    margin-bottom: 30px;
                }
                textarea{
                    flex: 0 0 100%;
                    padding: 10px;
                    background: $lightGray;
                    border: none;
                }
                button{
                    @include btn();
                    background-color: $pink;
                    border: 2px solid $pink;
                    color: $white;
                    &:hover{
                        background-color: $green;
                        border: 2px solid $green;
                        transition: $transition;
                        color: $white;
                    }
                }
            }
            .contact{
                flex: 0 0 28%;
                li{
                    line-height: 2.5;
                    font-size: 1rem;
                    i{
                        color: $pink;
                    }
                }
            }
        }
    }
}
